@use  '../../ThemeConfig/Variables.scss' as *;
.header {
    &.ant-layout-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        padding: 15px 40px;
        background-color: $WhiteBgColor;
        box-shadow: 0 6px 16px 0 rgba($color: $RgbBlackBgColor, $alpha: 0.08);
        display: flex;
        align-items:center;
      }
      .header-inner {
        display: flex;
        align-items:center; 
      }
      .logoBlock {
        svg {
          display:block;
          max-width:80px;
          height:auto;
        }
      }
      .header-right {
          margin-left: auto;
      }
      .header-menu {
        border: 0px;
        line-height: 30px;
        margin-left: 20px;
      }
}